<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Histórico de Pruebas</title>
        <!-- Estilos y Librerías -->
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    
<body>
    <h1>Histórico</h1>
    <div id="chart"></div>
    <div class="container">
        <!-- Controles -->
        <div class="controls">
            <div>
                <label for="start-date">Fecha Inicio:</label>
                <input type="date" id="start-date">
            </div>
            <div>
                <label for="end-date">Fecha Fin:</label>
                <input type="date" id="end-date">
            </div>
            <button id="fetch-data"><i class="fas fa-search"></i> Consultar</button>
            <button id="download-csv"><i class="fas fa-download"></i> Descargar CSV</button>
        </div>
        <div id="loading-spinner" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999; display: flex; align-items: center; justify-content: center;">
            <div style="border: 6px solid #f3f3f3; border-top: 6px solid #5a8bba; border-radius: 50%; width: 50px; height: 50px; animation: spin 1s linear infinite;"></div>
        </div>
        
        <style>
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        
            #loading-spinner {
                display: none; /* Oculto por defecto */
            }
        </style>
        

        <!-- Tabla -->
        <table id="results-table" class="display">
            <thead>
                <tr>
                    <th>SerialNumber</th>
                    <th>PartNumber</th>
                    <th>TestDate</th>
                    <th>TestTime</th>
                    <th>Shift</th>
                    <th>FALine</th>
                    <th>Tester</th>
                    <th>TestResult</th>
                    <th>Failure</th>
                    <th class="limited">LVResult</th>
                    <th class="limited">HVResult</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas serán llenadas dinámicamente -->
            </tbody>
        </table>

        <!-- Gráfico -->
       
    </div>

    <!-- Footer -->
    <div class="footer" style="text-align: center; margin-top: 40px; color: #757575; font-size: 0.9em;">
        &copy; 2025 FA Health Monitor.
        <br><br>
        Developed by HFM Test Department.
        <br><br>
        <a href="mailto:moises.ramirez1@molex.com" style="color: #5a8bba; text-decoration: none;">Contacto</a>
    </div>
    

    <!-- JavaScript -->
    <script src="/static/historico.js"></script>
</body>
</html>
